@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
*{
    box-sizing: border-box;
}
.descr{
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
    font-size: 1.5em;
}
.nan{
    color: #A860D1;
}
.title{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.btn-nan{
    background: linear-gradient(to right,#A860D1, #D9CC47);
    height: 60px;
    font-weight: bold;
}
p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.2em;
}
.normal:hover{
    text-decoration: line-through;
    color: rgb(236, 52, 52);
}
.menus_elem:hover{
    background: linear-gradient(to right,#A860D1, #D9CC47);
}

.tzuser-info{
    border: 1px solid;
    background-image: url('../images/universite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}.info{
    padding: 12px;
}
.module, .mois{
    font-size: 15px;
}
.item-blog-post{
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.tz-post-info{
    padding: 10px;
}
.tz-post-thumbnail{
    padding: 10px;
}